{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'scroll-to-end.css' %}">
    <link rel="stylesheet" href="{% static 'calculator.css' %}">
{% endblock %}

{% block js %}
    <script type="module" src="{% static 'cookie_handler.js' %}"></script>
    <script type="module" src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'scroll-to-end.js' %}"></script>
    <script src="{% static 'calculator.js' %}"></script>
{% endblock %}

{% block title %}
    জাযাকাল্লাহ | খেজুরের খাটি গুড় . পাাটালি, ঝোলা, রাব, নলেন গুড় কিনতে যোগাযোগ করুন
{% endblock title %}

{% block content %}
    {% include 'scroll-to-end.html' %}
    {#    Product List#}
    <!-- Embedding product data as a JSON script -->
    <script id="product-data" type="application/json">
        {{ products|safe }}
    </script>
    <div id="selected-weights">
        <h2>Selected Products</h2>
        <ul id="weights-list">
            <!-- Weight information will be dynamically updated here -->
        </ul>
    </div>

    <!-- Text section -->
    <div class="text-section">
        <h2>আমাদের গুড় কেন কিনবেন <i class="fa-solid fa-question"></i></h2>
        <div class="text-card">
            <div class="text-card-icon">&#10004;</div>
            <p>প্রথমত গুড় আমাদের নিজেদের বাসার। কোনো চাষীর থেকে সংগ্রহ করলে ভেজাল দেওয়ার সম্ভাবনা থাকে। অনেক
                চাষী বেশী টাকা পেয়েও লোভে পড়ে ভেজাল দেয়। যেহেতু আমাদের নিজেদের গুড় তাই এমন হওয়ার সম্ভাবনা নেই।</p>
        </div>
        <button class="order-btn">গুড় কিনতে ক্লিক করুন</button>
        <div class="text-card">
            <div class="text-card-icon">&#10004;</div>
            <p>আমাদের থেকে কিনে ব্যবসায়ীরা অনেক বেশিদামে গুড় বিক্রি করে। সরাসরি আমাদের থেকে কিনলে নায্যমূল্যে গুড়
                কিনতে পারবেন।
            </p>
        </div>
        <button class="order-btn">
            <a href="tel:+8801843557389" class="phone-link">
                <i class="fa-solid fa-phone"></i> কল দিতে এখানে ক্লিক করুন
            </a>
        </button>
        <div class="text-card">
            <div class="text-card-icon">&#10004;</div>
            <p>গুড় বানানোর সময় আমারা শতভাগ হাইজিন মেইনটেইন করি</p>
        </div>
        <div class="text-card">
            <div class="text-card-icon">&#10004;</div>
            <p>অগ্রিম টাকা ছাড়াই গুড় অর্ডার করতে পারবেন। গুড় পেয়ে টাকা পরিশোধ করতে পারবেন।</p>
        </div>
        <div class="text-card">
            <div class="text-card-icon">&#10004;</div>
            <p>যদি গুড় পছন্দ না হয় তবে রিটার্ন করতে পারবেন</p>
        </div>
        <div>
            <button class="order-btn">গুড় কিনতে ক্লিক করুন</button>
        </div>
    </div>

    {#    Product Heading#}
    <!-- Product Heading -->
    <div class="product-heading-container">
        <!-- Product Heading -->
        <div class="product-heading">
            খেজুরের খাটি গুড়
        </div>

        <!-- Button -->
        <div class="button-container">
            <button onclick="toggleSlide()"><i class="fa-brands fa-leanpub"></i> Learn How to Order</button>
        </div>

        <!-- Sliding Section -->
        <div id="slide-section">
            <h2>How to Order</h2>
            <ol start="1">
                <li>
                    যেই আইটেম কিনতে চান তার নিচের দিকে "১ কেজি যোগ করুন" বাটনে ক্লিক করে পরিমাণ সিলেক্ট করুন
                </li>
                <li>
                    "১ কেজি কমান" বাটনে ক্লিক করে ১কেজি করে কমাতে পারেন
                </li>
                <li>
                    চাইলে একাধিক আইটেম একসাথে অর্ডার করতে পারেন
                </li>
                <li>
                    পরিমাণ সিলেক্ট করার পর ডানে নিচে "Confirm Order" বাটনে ক্লিক করুন বা নিচের দিকে স্ক্রল করে ফোন
                    নাম্বার দিয়ে অর্ডার সম্পন্ন করুন
                </li>
                <li>
                    অর্ডার করতে সমস্যা হলে "Call Us" বাটনে ক্লিক করে কল করতে পারছেন
                </li>
            </ol>
        </div>
    </div>

    <div id="product-list">
        {% for product in products %}
            <div itemscope itemtype="https://schema.org/Product" class="product-card">
                <meta itemprop="productID" content="{{ product.id }}">
                <meta itemprop="url" content="https://jazakallah.store/">
                <div class="badge">Organic</div>
                <img src="{% static 'product_image' %}/{{ product.image }}"
                     alt="{{ product.name }}" class="product-image">
                <meta itemprop="image" content="{% static 'product_image' %}/{{ product.image }}">
                <h3 itemprop="name" class="product-title">{{ product.name }}</h3>
                <meta itemprop="name" content="{{ product.name }}">
                <p itemprop="price" content="{{ product.price }}" class="product-price">
                    ৳ {{ product.price }} per Kg
                    <meta itemprop="priceCurrency" content="BDT">
                </p>
                <p itemprop="description" class="product-description">{{ product.description|safe }}</p>
                <meta itemprop="description" content="{{ product.description|safe }}">
                <div class="product-actions">
                    <button class="quantity-btn" onclick="updateWeight('{{ product.id }}', -1)">১ কেজি কমান</button>
                    <div class="quantity-container">
                        <div class="quantity" id="quantity-{{ product.id }}"></div>
                    </div>
                    <button class="quantity-btn" onclick="updateWeight('{{ product.id }}', 1)">১ কেজি যোগ করুন
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    {#    Order Invoice  #}
    <div class="order-details">
        <h1 class="order-heading"><i class="fa-solid fa-circle-info"></i> Order Details</h1>
        <table class="order-table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th class="centered">Unit Price</th>
                <th class="centered"></th>
                <th class="centered">Unit</th>
                <th class="centered"></th>
                <th class="centered">Unit Subtotal</th>
            </tr>
            </thead>
            <tbody id="order-body">
            <!-- Rows dynamically populated via JavaScript -->
            </tbody>
            <tfoot>
            <tr>
                <td class="total-label" colspan="5">Subtotal</td>
                <td id="subtotal-price" class="total-price">0.00</td>
            </tr>
            <tr>
                <td class="total-label" colspan="5">Delivery Charge</td>
                <td id="delivery-charge" class="total-price">100.00</td>
            </tr>
            <tr>
                <td class="total-label" colspan="5">Total</td>
                <td id="total-price" class="total-price">0.00</td>
            </tr>
            </tfoot>
        </table>
        <button class="copy-button" id="copy-button" onclick="copyText()">Copy Order Details</button>
    </div>

    {#    Order Confirmation form   #}
    <div class="form-container" id="form-container">
        <h2><i class="fa-solid fa-user-pen"></i> Order Confirmation</h2>
        <form id="order-form" method="POST" target="_parent" action="/order_confirmation">
            {% csrf_token %}
            {{ form.order_details.as_hidden }}
            {{ form.delivery_charge.as_hidden }}

            <div>
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.help_text %}
                    <small>{{ form.name.help_text }}</small>
                {% endif %}
            </div>

            <div>
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {% if form.phone.help_text %}
                    <small>{{ form.phone.help_text }}</small>
                {% endif %}
            </div>

            <div>
                {{ form.division.label_tag }}
                {{ form.division }}
                {% if form.division.help_text %}
                    <small>{{ form.division.help_text }}</small>
                {% endif %}
            </div>

            <div>
                {{ form.address.label_tag }}
                {{ form.address }}
                {% if form.address.help_text %}
                    <small>{{ form.address.help_text }}</small>
                {% endif %}
            </div>

            <div>
                {{ form.comment.label_tag }}
                {{ form.comment }}
                {% if form.comment.help_text %}
                    <small>{{ form.comment.help_text }}</small>
                {% endif %}
            </div>

            <h3>Payment Method</h3>
            <div class="toggle-group">
                <input type="radio" id="cod" name="payment_method" value="Cash on Delivery"
                       {% if form.payment_method.value == 'Cash on Delivery' %}checked{% endif %}>
                <label for="cod" data-method="cod">Cash on Delivery</label>
                <input type="radio" id="bkash" name="payment_method" value="Bkash"
                       {% if form.payment_method.value == 'Bkash' %}checked{% endif %} disabled>
                <label for="bkash" data-method="bkash">Bkash</label>
            </div>

            <div id="payment-info" class="payment-process">
                <!-- Payment process details will be displayed here -->
            </div>
            <button type="submit" id="submit-button">
                <i class="fa-regular fa-circle-check"></i> Confirm Order
            </button>
        </form>

        <!-- Loading Animation -->
        <div id="loading-animation" class="loading-animation">
            <div class="spinner"></div>
            Submitting your form...
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="invalid-phone-modal">
        <div class="modal-content">
            <h3>Invalid Phone Number</h3>
            <p>Please enter a valid phone number in the format +8801XXXXXXXXX, 8801XXXXXXXXX, or 01XXXXXXXXX.</p>
            <button id="close-modal">Close</button>
        </div>
    </div>

    <div class="dir-container">
        <div class="message fb-contact">
            <a href="#">
                <i class="fa-brands fa-facebook-messenger"></i>Message Us
            </a>
        </div>
        <div class="call fb-contact">
            <a href="tel:+8801843557389" class="phone-link">
                <i class="fa-solid fa-phone"></i>Call Us
            </a>
        </div>
        <div class="page-visit">
            <a href="#">
                <i class="fa-solid fa-location-arrow"></i>Visit Our Page
            </a>
        </div>
    </div>

    <button class="floating-button hidden" id="floatOrderConfirmButton"></button>

    {% include 'calculator.html' %}
{% endblock content %}