/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}

/* Left side - Logo and Business Name */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between logo and business name */
}

.navbar-left .logo img {
    width: 40px; /* Set the width of the logo */
    height: 40px; /* Set the height of the logo */
    object-fit: contain; /* Ensure the logo maintains its aspect ratio */
    border-radius: 50%; /* Make the logo circular */
}

/* Left side - Business Name */
.navbar-left .business-name {
    font-size: 24px;
    font-weight: bold;
    color: #D4AF37;
    text-decoration: none;
    font-family: 'Dancing Script', cursive; /* Applying the calligraphic font */
    flex: 1; /* Allow business name to take available space */
    text-align: right; /* Align the business name to the left */
}

/* Right side - Icons */
.navbar-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Icon Styles */
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transition: left 0.3s ease-in-out;
    padding: 20px;
    z-index: 99;
}

.sidebar h2 {
    color: blue;
    font-size: 24px;
}

.sidebar .close-btn {
    font-size: 30px;
    cursor: pointer;
    color: black;
    text-align: right;
    margin-bottom: 20px;
}

/* Hover effect to show the sidebar */
.icon:hover {
    opacity: 0.7;
}

.navbar-left .business-name:hover {
    color: #ffcc00;
}

.empty-cart {
    color: red;
}

/* Media Queries for tablet and phone */
@media (max-width: 768px) {
    .business-name {
        font-size: 20px; /* Smaller text size for tablet */
    }
}

@media (max-width: 480px) {
    .business-name {
        font-size: 18px; /* Even smaller text size for phone */
    }
}