{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Rating- ⭐⭐⭐⭐⭐ 5/5. শতভাগ খাটি খেজুরের গুড় কিনতে যোগাযোগ করুন। আমাদের কাছে 
    পাবেন পাঠালি, ঝোলা/রাব গুড়, দানাদার ঝোলা গুড় | Contact us to buy pure molasses. We offer Patali, Jhola/Rab and
     Danadar molasses">
    <meta name="keywords" content="গুড়, পাটালি, ঝোলা, রাব, Molasses">
    <meta name="author" content="NEO Technology">
    <meta name="author" content="Qusal Ahmed">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="yandex" content="index, follow">
    <meta name="msnbot" content="index, follow">
    <meta name="alexabot" content="index, follow">
    <meta name="slurp" content="index, follow">
    <meta name="teoma" content="index, follow">
    <meta name="baiduspider" content="index, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Jazakallah Store">
    <meta name="application-name" content="Jazakallah Store">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'logo.png' %}">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="msapplication-starturl" content="/">
    <meta name="msapplication-tooltip" content="জাযাকাল্লাহ স্টোর">
    <meta name="msapplication-window" content="width=800;height=600">
    <meta name="msapplication-task" content="name=জাযাকাল্লাহ স্টোর;action-uri=/;icon-uri={% static 'logo.png' %}">

    <meta property="og:title" content="জাযাকাল্লাহ | খেজুরের খাটি গুড় . পাাটালি, ঝোলা, রাব, নলেন গুড় কিনতে যোগাযোগ 
    করুন">
    <meta property="og:description" content="Rating- ⭐⭐⭐⭐⭐ 5/5. শতভাগ খাটি খেজুরের গুড় কিনতে যোগাযোগ করুন। আমাদের কাছে 
    পাবেন পাঠালি, ঝোলা/রাব গুড়, দানাদার ঝোলা গুড় | Contact us to buy pure molasses. We offer Patali, Jhola/Rab and
     Danadar molasses">
    <meta property="og:image" content="{% static 'logo.png' %}">
    <meta property="og:url" content="https://jazakallah.store/">
    <meta property="og:type" content="Grocery Store">
    <meta property="og:site_name" content="Jazakallah | জাযাকাল্লাহ">

    <link rel="canonical" href="https://jazakallah.store/">


    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">


    <title>{% block title %}{% endblock %}</title>

    <!-- Link to Static Files (CSS) -->
    <link rel="stylesheet" href="{% static 'general-css.css' %}">
    <link rel="stylesheet" href="{% static 'footer-css.css' %}">
    <link rel="stylesheet" href="{% static 'navbar-css.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

    <!-- Google Font for Calligraphic Style -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    {% block css %} {% endblock %}

    <!-- You can also add meta tags or other external resources here -->
</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar">
        <!-- Business Name -->
        <div class="navbar-left">
            <!-- Logo -->
            <a href="/" class="logo">
                <img src="{% static 'logo.png' %}" alt="Store Logo">
            </a>
            <!-- Business Name -->
            <a href="/" class="business-name">Jazakallah Store</a>
        </div>

        <!-- Navbar Links or Items -->
        <div class="navbar-right">
            <!-- Cart and Profile icons -->
            <a href="#" class="icon" id="cart-icon">
                <img src="{% static 'shopping-bag.png' %}" alt="Cart">
            </a>
            <a href="/profile" class="icon" id="profile-icon">
                <img src="{% static 'profile.png' %}" alt="Profile">
            </a>

        </div>
    </nav>
    <!-- Sidebar (Initially Hidden) -->
    <div id="sidebar" class="sidebar">
        <div class="close-btn" id="close-btn">&times;</div>
        <div id="cart-item">
            <h2>Cart List</h2>
            <ul id="cart-list">
                <!-- Weight information will be dynamically updated here -->
            </ul>
        </div>
    </div>

    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1515509469312729');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1515509469312729&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</header>

<main>
    {% block content %}
        <!-- Main content of the page will go here -->
    {% endblock %}
</main>

<!-- Footer Section -->
<!-- Footer -->
<footer id="footer">
    <div class="footer-container">
        <div class="footer-left">
            <p>&copy; {% now "Y" %} NEO Technology</p>
        </div>
        <div class="footer-center">
            <p><i class="fa-regular fa-envelope"></i>Contact us: admin@Jazakallah.store</p>
        </div>
        <div class="footer-right">
            <ul class="social-links">
                <li><a href="https://www.facebook.com/Jazakallah.Store">
                    <i class="fa-brands fa-facebook"></i>Facebook
                </a></li>
                <li><a href="#">
                    <i class="fa-brands fa-twitter"></i>Twitter
                </a></li>
                <li><a href="#">
                    <i class="fa-brands fa-instagram"></i>Instagram
                </a></li>
            </ul>
        </div>
    </div>

    <h2 class="google-map-heading">Find us on Google map</h2>
    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>


{% block js %}

{% endblock %}

<!-- Link to Static Files (JS) -->
<script src="{% static 'footer-js.js' %}"></script>
<script src="{% static 'navbar-js.js' %}"></script>
<script src="{% static 'general.js' %}"></script>
</body>
</html>
